@font-face {
    font-family: 'Coinbase Sans';
    src: url('Coinbase_Sans-Regular-web-1.32.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Coinbase Sans';
    src: url('Coinbase_Sans-Bold-web-1.32.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Coinbase Sans';
    src: url('Coinbase_Sans-Medium-web-1.32.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Coinbase Sans';
    src: url('Coinbase_Sans-Light-web-1.32.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Coinbase Sans';
    src: url('Coinbase_Sans-Extra_Light-web-1.32.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Coinbase Sans', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 388px;
  height: 600px;
  min-height: 600px;
  min-width: 388px;
  max-height: 600px;
  max-width: 388px;
  margin: 0 auto;
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
  margin-top: -10px; /* più vicino al top */
}

.back-arrow {
  position: absolute;
  left: 0;
  font-size: 23px;
  cursor: pointer;
}

.progress {
  display: flex;
  gap: 8px;
}

.dot {
  width: 34px;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
}

.dot.active {
  background-color: white;
}

.titolo {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 8px;
}

.description {
  color: #ffffff;
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 20px;
}


.phrase-box {
  cursor: pointer;
  position: relative;
  background-color: #111;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 10px;
  height: 120px;
  margin-bottom: 20px;
  overflow: hidden;
}

.phrase-content {
  font-size: 14px;
  line-height: 2;
  transition: filter 0.3s ease;
}

/* .blurred {
  filter: blur(6px);
} */

.blurred .phrase-content {
  filter: blur(6px);
}

.phrase-box img {
  position: absolute;
  bottom: -16px;
  right: 10px;
  width: 30px;
  height: 70px;
  cursor: pointer;
  opacity: 0.85;
}


.clipboard {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 28px;
  cursor: pointer;
  height: 55px; /* ← fissa l’altezza massima dell’icona più grande */
}


.clipboard img {
  opacity: 0.8;
  transition: all 0.2s ease;
}

/* dimensioni normali (default icon_white_1.png) */
#copyIcon {
  width: 22px;
  height: 55px;
}

/* dimensioni quando è text-copied.png */
#copyIcon.copied {
  width: 22px;
  height: 22px;
}


.checkbox-container {
  font-size: 14px;
  /* color: #ccc; */
  color: #888;
  margin-bottom: 24px;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #888;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

button {
  width: 342px;
  height: 60px;
  padding: 15px 30px;
  border: none;
  border-radius: 35px;
  background-color: #333;
  color: #888;
  font-size: 17px;
  font-weight: 700;
  cursor: not-allowed;
  transition: background 0.3s;
  top: 85.3%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: block;
  /* margin: 0 auto; */
}

button:enabled {
  background-color: white;
  color: black;
  cursor: pointer;
}
