@font-face {
    font-family: 'Coinbase Sans';
    src: url('Coinbase_Sans-Regular-web-1.32.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Coinbase Sans';
    src: url('Coinbase_Sans-Bold-web-1.32.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Coinbase Sans';
    src: url('Coinbase_Sans-Medium-web-1.32.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Coinbase Sans';
    src: url('Coinbase_Sans-Light-web-1.32.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Coinbase Sans';
    src: url('Coinbase_Sans-Extra_Light-web-1.32.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
