@font-face {
    font-family: 'Coinbase Sans';
    src: url('./fonts/coinbase-sans/Coinbase_Sans-Regular-web-1.32.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Coinbase Sans';
    src: url('./fonts/coinbase-sans/Coinbase_Sans-Bold-web-1.32.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Coinbase Sans';
    src: url('./fonts/coinbase-sans/Coinbase_Sans-Medium-web-1.32.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Coinbase Sans';
    src: url('./fonts/coinbase-sans/Coinbase_Sans-Light-web-1.32.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Coinbase Sans';
    src: url('./fonts/coinbase-sans/Coinbase_Sans-Extra_Light-web-1.32.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Coinbase Sans', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenitore del video con dimensioni fisse */
.video-wrapper {
  position: relative;
  /* width: 357px;
  height: 552px; */
  width: 452.7px;
  height: 700px;
  min-height: 700px;
  min-width: 452.7px;
  max-height: 700px;
  max-width: 452.7px;
}

/* Video con dimensione fissa */
video {
  width: 100%;
  height: 100%;
  display: block;
}

/* Bottone posizionato rispetto al video */
.overlay-btn {
  /* width: 315.5px; */
  /* height: 54.1px; */
  width: 400px;
  /* height: 68.99px; */
  height: 68px;
  position: absolute;
  /* top: 79%; */
  top: 78.7%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  background-color:#ffffff;
  /* background-color:black; */
  border: none;
  border-radius: 35px;
  /* font-size: 17px; */
  font-size: 19.6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.overlay-btn:hover {
  background-color: #d8d8d8;
}


.second-btn {
  width: 400px;
  height: 68px;
  position: absolute;
  /* top: 90.84%; */
  top: 89.83%;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: #ffffff; */
  background-color: transparent;
  border: none;
  border-radius: 35px;
  font-size: 19.45px;
  cursor: pointer;
  color:#ffffff;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
  z-index: 2;
}

.second-btn:hover {
  /* background-color: #d8d8d8; */
  background-color: #0a0a0a ;
}